body{
    margin:0;
    top:0;
}
.navbar{
    background-color: rgb(10, 5, 1);
    color: aliceblue;
}
.navbar > a
{
    color: white;
    padding: 10px;
}
.jumbotron
{
    /* background-color: rgb(238, 142, 31); */
    text-align: center;
    background-image: linear-gradient(to top,rgba(253, 97, 214, 0.548),rgba(168, 30, 180, 0.863));
}
.lead> a
{
    background-color: black;
}
.parented > h1 {
text-align: center;
}
.footer{
    background-color: rgba(143, 135, 135, 0.726);
}
.footer-copyright > a{
    color: white;
}
/* .card-img-top{
    width: 100%;
    height: 400px;
} */